[Unit]
Description=avahi alias chess.local
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/avahi-publish -a chess.local 192.168.1.126
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
